.spin {
    animation: spin 2s linear infinite;
    transform-origin: 100px 100px;
}

@keyframes spin {
    0% { transform: scale(1) rotate(0deg); }
    10% { transform: scale(0.8) rotate(0deg);}
    15% { transform: scale(1.2) rotate(0deg);}
    19% { transform: scale(.9) rotate(0deg);}
    23% { transform: scale(1.1) rotate(0deg);}
    25% { transform: scale(1) rotate(0deg);}
    100% { transform: scale(1) rotate(360deg); }
  }
/* CSS */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientAnimation 5s linear forwards;
}
@keyframes slide-in {
  0% {transform: translateX(-100%)};
  100% {transform: translateX(0)};
}
@keyframes slide-out {
  0% {transform: translateX(0)};
  100% {transform: translateX(-100%)};
}
.animate-close-panel {
  animation: slide-in 0.5s ease-in-out linear;
}
.animate-open-panel {
  animation: slide-out 0.5s ease-in-out linear;
}
@tailwind base; 
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-blue-100;
  }
  h1 {
    @apply text-2xl my-4 text-center;
  }
  h2 {
    @apply text-xl my-3 text-center;
  }
  h3 {
    @apply text-lg my-2;
  }
  h4 {
    @apply my-2;
  }
  p {
    @apply mx-3;
  }
}